<h1>Fuel efficient cars are expensive. When do you break even?</h1>
<common-layout (build)="buildChart()">
  <div common [formGroup]="formGroup.get('common')">
    <div>
      <span>
        <span>How far is your drive to work?</span>
        <mat-form-field>
          <input matInput max="80" type="number" formControlName="distanceToWork"/>
          <div matSuffix>miles</div>
        </mat-form-field>
      </span>
      <div class="or">or</div>
      <span>
        <span>How many miles do you drive a year?</span>
        <mat-form-field>
          <input matInput type="number" formControlName="milesPerYear"/>
        </mat-form-field>
      </span>
    </div>
    <div>
      <span>How much does gas gost?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput type="number" formControlName="costPerGallon"/>
        <div matSuffix>/gallon</div>
      </mat-form-field>
    </div>
  </div>

  <div first [formGroup]="formGroup.get('inefficient')">
    <h3>Path A: Cheaper car that gets worse gas mileage</h3>
    <div>
      <span>How much does the car cost?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput type="number" formControlName="cost"/>
      </mat-form-field>
    </div>

    <div>
      <span>What mileage does it get on average?</span>
      <mat-form-field>
        <input matInput type="number" formControlName="mileage"/>
        <div matSuffix>mpg</div>
      </mat-form-field>
    </div>

  </div>

  <div second [formGroup]="formGroup.get('efficient')">
    <h3>Path B: Fuel efficient car</h3>

    <div>
      <span>How much does the car cost?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput type="number" formControlName="cost"/>
      </mat-form-field>
    </div>

    <div>
      <span>What mileage does it get on average?</span>
      <mat-form-field>
        <input matInput type="number" formControlName="mileage"/>
        <div matSuffix>mpg</div>
      </mat-form-field>
    </div>
  </div>


  <div chart *ngIf="lineChartData.length" fxLayout="column" fxLayoutAlign="center center">
    <div class="spacer" fxFlex></div>
    <h1 fxFlex *ngIf="breakEvenAge">You'll break even after {{breakEvenAge}} years</h1>
    <h1 fxFlex *ngIf="!breakEvenAge">You never break even.</h1>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="{responsive: true}"
            chartType="line">
    </canvas>
  </div>

</common-layout>
