.inputs{
  padding: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}

.inputs.first{
  border-color: rgba(54, 162, 235, .4);
}

.inputs.second{
  border-color: rgba(255, 99, 132, .4);
}



.spacer{
  border-bottom: 1px solid lightgrey;
  margin: 10px 0;
  width: 100%;
}

::ng-deep {
  mat-form-field{
    width: 100px;
  }

  input{
    text-align: center;
  }

  label{
    margin-right: 5px;
  }
}

.button-container{
  margin: 20px 0;
}
