.inputs{
  padding: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}

.inputs.educated{
  border-color: rgba(54, 162, 235, .4);
}

.inputs.uneducated{
  border-color: rgba(255, 99, 132, .4);
}

mat-form-field{
  width: 100px;
}

.spacer{
  border-bottom: 1px solid lightgrey;
  margin: 10px 0;
  width: 100%;
}

/deep/ input{
  text-align: center;
}
