<h1>College is expensive. When will you break even?</h1>
<!-- <p>Education generally increases salaries. Between tuition costs and years of lost income, however, it might not be as fruitful as you thought. This calculator will estimate the age at which you will break even.
<p>Say you have two options:
<ol>
  <li>
    Without going to college, you make $20k/yr. Over 10 years, you earn $200000.
  </li>
  <li>
    You could spend <span matTooltip="$120000">$30k/yr to school to school for 4 years</span>. After graduation, you earn <span matTooltip="$300,000">$50k/yr for 6 years</span>. Over the same 10 years, you've earned <span matTooltip="$300000-120000">$180000</span>.
  </li>
</ol>
In the scenario above, the person would break even a little after 10 years. When will you break even? -->
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>

  <div class="common" fxFlex="100">
    <div>
      <span>At what age would you start school?</span>
      <mat-form-field>
        <input matInput max="80"[(value)]="common.age"/>
      </mat-form-field>
    </div>
  </div>

  <div class="no school" fxFlex="50">
    <h3>Path A: start working immediately, don't go to college</h3>
    <div>
      <span>What is your starting salary without an education?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput max="30" min="5" step="0.5" [(value)]="uneducated.startingWage"/>
        <div matSuffix>/hour</div>
      </mat-form-field>
    </div>

    <div>
      <span>What kind of raises would you expect?</span>
      <mat-form-field>
        <div matPrefix>%</div>
        <input matInput [(value)]="uneducated.raise"/>
        <div matSuffix>/year</div>
      </mat-form-field>
    </div>

  </div>

  <div class="school" fxFlex="50">
    <h3>Path B: Go to college before starting work</h3>

    <div>
      <span>What is your starting salary with an education?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput [(value)]="educated.startingWage"/>
        <div matSuffix>/hour</div>
      </mat-form-field>
    </div>

    <div>
      <span>What kind of raises would you expect?</span>
      <mat-form-field>
        <div matPrefix>%</div>
        <input matInput max="10" min="0" step="0.5" [(value)]="educated.raise"/>
        <div matSuffix>/year</div>
      </mat-form-field>
    </div>

    <div>
      <span>How much would school cost?</span>
      <mat-form-field>
        <div matPrefix>$</div>
        <input matInput [(value)]="school.cost"/>
        <div matSuffix>/year</div>
      </mat-form-field>
    </div>

    <div>
      <span>How long would you be in school for?</span>
      <mat-form-field>
        <input matInput [(value)]="school.duration"/>
        <div matSuffix>years</div>
      </mat-form-field>
    </div>

  </div>
  <canvas baseChart fxFlex="100"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="{responsive: true}"
          chartType="line">
  </canvas>
</div>
