@import '~@angular/material/theming';
@include mat-core();

$am-app-primary: mat-palette($mat-light-blue);
$am-app-accent:  mat-palette($mat-green);

$am-app-warn:    mat-palette($mat-red);

$am-app-theme: mat-light-theme($am-app-primary, $am-app-accent, $am-app-warn);

@include angular-material-theme($am-app-theme);

body{
  margin: 0;
}
